

    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="card shadow" style="width: 30rem;">
            <div class="card-body">
                <h5 class="card-title text-center mb-4">Modifier votre profile</h5>

                {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}

                <div class="mb-3">
                    {{ form_label(form.nom, 'Nom', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Votre nom'}}) }}
                    {{ form_errors(form.nom) }}
                </div>

                <div class="mb-3">
                    {{ form_label(form.prenom, 'Prénom', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Votre prénom'}}) }}
                    {{ form_errors(form.prenom) }}
                </div>

                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="submit">Modifier</button>
                </div>

                {{ form_end(form) }}

            </div>
        </div>
    </div>
